{% load compress %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dradis − SynopsLive</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% compress css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/dradis/bootstrap.min.css" />
        <link rel="stylesheet" type="text/less" media="screen" href="/static/css/dradis/main.less" />
    {% endcompress %}
</head>
<body data-dradis-api-key="{{ dradis_api_key }}">
<script type="text/x-handlebars">
    {% include "handlebars/interface.hbs" %}
</script>
<script type="text/x-handlebars" data-template-name="studio">
    {% include "handlebars/studio.hbs" %}
</script>
<script type="text/x-handlebars" data-template-name="components/media-element">
    {% include "handlebars/components/media-element.hbs" %}
</script>
<script type="text/x-handlebars" data-template-name="status-bar">
    {% include "handlebars/status-bar.hbs" %}
</script>
<script type="text/x-handlebars" data-template-name="components/play-list">
    {% include "handlebars/components/play-list.hbs" %}
</script>
<script src="/static/js/libs/jquery-1.10.2.js"></script>
<script src="/static/js/libs/handlebars-1.1.2.js"></script>
<script src="/static/js/libs/ember-1.3.1.js"></script>
<script src="/static/js/libs/ember-data.js"></script>
<script src="/static/js/libs/tastypie_serializer.js"></script>
<script src="/static/js/libs/tastypie_adapter.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/libs/bootstrap.min.js"></script>
</body>
</html>
